/* ====================== TEAM ==========================================*/
.section.team {
    background-color: #f5f4fa;
  }
  .team-title {
    margin-top: 0;
    margin-bottom: 50px;
  
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--text-color);
  }
  .container .team-list {
    display: flex;
    justify-content: space-around;
  }
  .team-list .title {
    margin-top: 30px;
    margin-bottom: 10px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    color: var(--text-color);
  }
  .team-list .text {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 30px;
  
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    color: var(--secindary-text-color);
  }
  .team-list .item {
    background-color: #ffffff;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  /* ====================== team-sotial ========================================*/
  .social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
  
    width: 206px;
    height: 44px;
  }
  .social-link {
    display: flex;
  
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  .social-link:hover,
  .social-link:focus {
    background-color: var(--akcent-color);
  }
  .social-logo {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
  
    width: 20px;
    height: 20px;
    fill: #afb1b8;
  }
  .social-link:hover .social-logo,
  .social-link:focus .social-logo {
    background-color: var(--akcent-color);
    fill: white;
  }
  